{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "pure": true,
        "transpileTemplateLiterals": true,
        "namespace": "boilerplate",
        "meaninglessFileNames": ["index", "styles"]
      }
    ]
  ]
}
